@import "tailwindcss";

:root {
  --lighter: #f5f7fa;
  --medium: #616e7c;
  --darker: #1f2933;

  --pattern-100: #e4e7eb;
  --pattern-200: #cbd2d9;
  --pattern-300: #9aa5b1;
  --pattern-400: #7b8794;
  --pattern-600: #52606d;
  --pattern-700: #3e4c59;
  --pattern-800: #323f4b;
}

@theme inline {
  --color-lighter: var(--lighter);
  --color-medium: var(--medium);
  --color-darker: var(--darker);

  --color-pattern-100: var(--pattern-100);
  --color-pattern-200: var(--pattern-200);
  --color-pattern-300: var(--pattern-300);
  --color-pattern-400: var(--pattern-400);
  --color-pattern-600: var(--pattern-600);
  --color-pattern-700: var(--pattern-700);
  --color-pattern-800: var(--pattern-800);
  --color-pattern-900: var(--pattern-900);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--lighter);
  color: var(--darker);
}
